<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleContacts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70AC0D131F4D76D300B39205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AC0D2C1F4D76D300B39205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70AC0D371F4D76D300B39205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
